* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 1.25rem;
  color: #4c4c4c;
}
.align-center {
  text-align: center;
}
::selection {
  background: #a48efc;
  color: white;
}
h1 {
  color: #7bed9f;
  display: block;
  font-size: 2.3em;
  font-weight: normal;
  font-family: Montserrat;
}
main > h1 {
  text-align: center;
}
.button {
  padding: 1rem 2.8rem;
  width: fit-content;
  -webkit-appearance: none;
  border: 0;
  min-width: 200px;
  text-align: center;
  border-radius: 5px;
  background: #987ffc;
  color: white;
  margin: auto;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-family: Montserrat;
}
.button.main {
  padding: 1.13rem 4.35rem;
  font-size: 1.75rem;
}
.button.second {
  background: white;
  color: #7bed9f;
}
/*  Header  */
nav {
  background: #7bed9f;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: white;
  margin: 1rem;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 90%;
}
nav .icon {
  margin: 0;
}
nav .icon img {
  margin: 0 1rem;
  height: 8vh;
}
header + .wayv {
  width: 100%;
  fill: #7bed9f;
  vertical-align: top;
  transform: translateY(-50px);
  position: relative;
  z-index: -1;
}
/*    Main    */
main {
  margin: 10vh 0;
}
main section:nth-of-type(n+2) {
  margin: 25vh 0;
}
/**
 * main.contact
 * ||
 * |-first
 * -second(a.k.a others)
 * 
 * 
 * */
main.contact {
  display: flex;
  flex-grow: 0;
  justify-content: space-evenly;
  flex-flow: wrap;
}
main.contact > * {
  margin: 1rem;
  flex-grow: 2;
}
main.contact span.vertical {
  display: flex;
  flex-flow: column;
  align-items: center;
}
main.contact span.vertical span {
  flex-grow: 2;
  width: 2px;
  background: #987ffc;
}
.other-contact-methods {
  min-width: 40vw;
  min-width: calc(40vw + 25px);
  width: 225px;
  max-width: 800px;
  display: flex;
}
.other-contact-methods div {
  padding: 1rem;
  height: fit-content;
  align-self: center;
  margin: auto;
  padding-bottom: 15vh;
}
.other-contact-methods a {
  display: block;
  margin: 1em 0;
  color: #4c4c4c;
  text-decoration: none;
}
section.cards .intro {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  padding: 10vh 0;
}
section.cards .intro div {
  min-height: 70vh;
  min-width: 350px;
  max-width: 32vw;
  margin: 1rem;
  box-shadow: 1px 4px 10px #00182120;
  background: white;
  border-radius: 5px;
  padding: 0 2rem 2rem;
}
section.cards .intro div:nth-of-type(1) {
  transform: translateY(-45px);
}
section.cards .intro div p {
  line-height: 1.3em;
}
section.cards .intro div img {
  display: block;
  height: 22vw;
  width: 22vw;
  margin: 10vh auto;
  border-radius: 50%;
  background: #dfdfdf;
}
section.cards .outro {
  width: 80vw;
  margin: auto;
}
section.cards .outro img {
  display: block;
  height: 80vh;
  background: #dfdfdf;
}
section.cards .outro h1 {
  line-height: 1em;
}
section.cards .outro * {
  margin: 1.5rem auto;
}
article.card {
  box-shadow: 0px 4px 10px #00182120;
  min-width: 450px;
  width: 48vw;
  max-width: 800px;
  text-align: center;
  padding: 1rem;
  margin: 10vh auto;
  background-color: #ffffff;
}
article.card p {
  font-family: quicksand;
  font-weight: 500;
}
article.card img {
  background: #7bed9f;
  display: inline-block;
  height: calc(5rem + 1vmax);
  width: calc(5rem + 1vmax);
  border-radius: 50%;
}
article.card .cargo {
  font-size: 85%;
  color: #757575;
}
article.card * {
  margin: 0.8rem;
}
section.reviews .card p:first-of-type {
  display: flex;
}
section.reviews .card p:first-of-type::before {
  font-size: 3rem;
  content: "\201C";
}
section.reviews .card p:first-of-type::after {
  font-size: 3rem;
  content: "\201D";
}
section.main h1 {
  color: black;
}
section.main p {
  width: 40vw;
  min-width: 500px;
  margin: 2rem auto;
}
input,
textarea {
  -webkit-appearance: button-bevel;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 1rem;
  background: #ebebeb;
  width: 100%;
  width: -webkit-fill-available;
  padding: 0.5rem;
  margin-bottom: 18px;
}
input {
  height: 2.5rem;
}
input.half {
  width: 49.5%;
}
form {
  min-width: 40vw;
  min-width: calc(40vw + 0);
  width: 200px;
  max-width: 800px;
  padding: 1rem;
}
form * {
  display: inline-block;
}
/*  Footer  */
.foo {
  background: rgba(123, 237, 159, 0.45);
  height: 4vh;
  display: block;
}
.foo + .foo {
  background: rgba(123, 237, 159, 0.75);
  height: 3vh;
}
footer {
  background: #7bed9f;
  padding: 7vh 10vw;
}
