<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Moabe - {{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{{site.url}}/main.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134159711-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134159711-1');
        </script>

        <script src="{{site.url}}/main.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400|Quicksand:500" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700,800" rel="stylesheet" /> -->
    </head>
    {%- include header.html -%}
    <main class="{%- if page.main_class -%}{{page.main_class}}{%- endif -%}">
        {{content}}
    </main>
    {%- include footer.html -%}
</html>