<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Moabe - {{page.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{{site.url}}/main.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134159711-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134159711-1');
        </script>
        <script src="https://cdn.jsdelivr.net/npm/swup@1.7.14/dist/swup.min.js"></script>
        <style>
        #ep{
            height: 2px;
            display:block;
            background:white;
            transition: .3s ease-in;
            margin-left: 16px;
        }
        .no-js_shame_on_you a{position:relative}
        .no-js_shame_on_you a::after{
            content: "";
            display:block;
            background: white;
            height: 2px;
            position:absolute;
            left:0;
            right:0
        }
        </style>
        <script src="{{site.url}}/main.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400|Quicksand:500" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700,800" rel="stylesheet" /> -->
    </head>
    {%- include header.html -%}
    <main id="swup" class="{%- if page.main_class -%}{{page.main_class}}{%- endif -%}">
        {{content}}
    </main>
    {%- include footer.html -%}
    <script>
            var nav=document.querySelector(".js-nav");
            nav.classList.remove("no-js_shame_on_you")
            nav.innerHTML+="<span id=\"ep\"></span>";
            var ep = document.querySelector("#ep");
            underNav( parseInt( "{{ page.num }}" ) - 1 );
        function underNav(num){
            navItems=nav.querySelectorAll("a");
            ep.style.marginLeft = navItems[num].getBoundingClientRect().left - nav.getBoundingClientRect().left + "px";
            ep.style.width = navItems[num].offsetWidth + "px";
        };
        const swup = new Swup({cache: true,preload: true}); 
    </script>
</html>
